@import './scss/bar.scss';
@import './scss/bar1.scss';
@import './scss/animations.scss';
@import './scss/colors.scss';

*{
    all: unset;
}

/*General class for widgets*/
.box_rev{
	background-color: transparent;
	padding-top: 2px;
}

.box_rev_ver{
	background-color: transparent;
	padding-right: 2px;
}