@import "./calendar.scss";
@import "./music.scss";
@import "./menu_opt.scss";
@import "./systray.scss";
@import "./wifi_panel_ctl.scss";

/***Style Bar***/
.bar{
    padding: 0.6rem 0.8rem;
    border: 0.1rem solid;
    border-radius: 1rem;
    background-color: rgba($background, 0.9);
    margin: 0.6rem 0.4rem 0.4rem 0.4rem;
    box-shadow: 0 0 3px 2px rgba($shadow, 0.9);
    animation: border-move 6s linear infinite;
}

/** --- Mixins ---**/
/** Generic button ***********************************/
@mixin generic_button ($bg_clr, $txt_clr, $border_clr, $radius, $bg_clr_hv, $txt_clr_hv) {
	background-color: $bg_clr;
	color: $txt_clr;
    border: 0.1rem solid $border_clr;
	border-radius: $radius;
	transition: all 425ms cubic-bezier(0.92, -0.21, 0.04, 0.71);

    &:hover{
        background-color: $bg_clr_hv;
        color: $txt_clr_hv;
    }
}

/** Generic box ***********************************/
@mixin generic_box ($bg_clr, $txt_clr, $border_clr, $radius){
    background-color: $bg_clr;
    color: $txt_clr;
    border: 0.1rem solid $border_clr;
    border-radius: $radius;
}

/** Generic workspace button ***********************************/
@mixin wk_btn_common ($bg_clr, $txt_clr, $mg-tb, $mg-lr, $pd-tb, $pd-lr, $fnt_wgt, $radius, $bg_clr_hv, $txt_clr_hv, $radius_hv){
    background-color: $bg_clr;
    color: $txt_clr;
    margin: $mg-tb $mg-lr;
    padding: $pd-tb $pd-lr;
    font-weight: $fnt_wgt;
    border-radius: $radius;
    transition: all 600ms cubic-bezier(0.92, -0.21, 0.04, 0.71);

    &:hover{
        background-color: $primary_container;
        color: $on_primary_container;
        border-radius: $radius_hv;
    }
}

/****Modules****/
//---Left----
//__Menu app__
.apps_btn{
    @include generic_button ($surface_container_highest, $on_surface, $outline_variant, 0.5rem, $primary, $on_primary);
}

//__Workspaces__
.workspaces{
    border: 0.1rem solid $outline_variant;
    border-radius: 0.5rem;
    background-color: $surface_container_highest;
}

//-----IF you want change color workspaces icons------
.active_wk_btn{
    @include wk_btn_common (transparent, $primary, 0, 0, 0, 0.2rem, normal, 5rem, $primary_container, $on_primary_container, 5rem);
}

.used_wk_btn{
    @include wk_btn_common (transparent, $secondary, 0, 0, 0, 0.2rem, normal, 5rem, $primary_container, $on_primary_container, 5rem);
}

.empty_wk_btn{
    @include wk_btn_common (transparent, $tertiary, 0, 0, 0, 0.2rem, normal, 5rem, $primary_container, $on_primary_container, 5rem);
}

// Dynamic workspaces
.active_wk_btn_dyn{
    @include wk_btn_common ($primary, $on_primary, 0.25rem, 0, 0, 1rem, bolder, 0.3rem, $primary_container, $on_primary_container, 5rem);
}

.used_wk_btn_dyn{
    @include wk_btn_common ($secondary, $on_secondary, 0.25rem, 0, 0, 0.5rem, bolder, 0.3rem, $primary_container, $on_primary_container, 5rem);
}

//__Wallpaper Icon__
.wallpaper_btn{
    @include generic_button ($surface_container_highest, $on_surface, $outline_variant, 0.5rem, $primary, $on_primary);
}

//__KeyBoard Lan__
.kb_txt{
    font-weight: 600;
    margin: 0.2rem 0.6rem 0.2rem 0.5rem;
}

.kb_btn{
    @include generic_button ($surface_container_highest, $on_surface, $outline_variant, 0.5rem, $primary, $on_primary);
}

//---Center----
//__Active window name__
.app_box{
    @include generic_box ($surface_container_highest, $on_surface, $outline_variant, 0.5rem);
    font-weight: 600;
    padding: 0.2rem 0.5rem;
}

.app_img{
    background-size: 100%;
	min-width: 1rem;
	min-height: 1rem;
    background-repeat: no-repeat;
}

//---Right----
//__Tray icon center__
.tray_box{
    @include generic_box ($surface_container_highest, $on_surface, $outline_variant, 0.5rem);
}

//__Music__
.music_btn{
    @include generic_button ($surface_container_highest, $on_surface, $outline_variant, 0.5rem, $primary, $on_primary);
}

.music_btn_toggle{
    @include generic_button ($primary_container, $on_primary_container, $on_primary_container, 5rem, $primary_container, $on_primary_container);
}

.music_prg{
    background-color: $outline;
    color: $on_surface;
}

.music_icon{
    font-size: 0.5rem;
    margin: 0.5rem;
}

//__Clock & Date__
.clock_btn{
    @include generic_button ($surface_container_highest, $on_surface, $outline_variant, 0.5rem, $primary, $on_primary);
}

.clock_btn_toggle{
    @include generic_button ($primary_container, $on_primary_container, $on_primary_container, 5rem, $primary_container, $on_primary_container);
}

//__Menu Options__
.menu_btn{
    @include generic_button ($surface_container_highest, $on_surface, $outline_variant, 0.5rem, $primary, $on_primary);
}

.menu_btn_toggle{
    @include generic_button ($primary_container, $on_primary_container, $on_primary_container, 5rem, $primary_container, $on_primary_container);
}

/***Containers***/
.music_container{
    padding: 0.2rem 0.6rem 0.2rem 0.5rem;
}

.app_container, .wal_container{
    padding: 0.2rem 0.2rem 0.2rem 0.15rem;
}

.app_txt, .wal_txt{
    font-weight: 600;
    margin: 0.2rem 0.3rem 0.2rem 0;
}

.clock_container, .menu_container, .wks_container{
    padding: 0.2rem 0.6rem;
}

.tray_container{
    margin: 0.2rem 0.4rem 0.2rem 0;
}

/***Style tooltip***/
tooltip{
    background-color: rgba($background, 0.85);
    color: $on_background;
    border: 0.1rem solid $on_background;
    border-radius: 0.5rem;
    animation: border-move 6s linear infinite;
}

tooltip > box {
    margin: 0 5px;
}