@import "./calendar.scss";
@import "./menu_opt.scss";

.bar{
    padding: 12px 13px;
    border: 2.5px solid $color6;
    border-radius: 10px;
    background-color: rgba($background, 0.55);
    margin: 4px 4px 0px 4px;
}

.bx_workspace{
    background-color: rgba($background, 0.55);
    padding: 0 8px 0 12px;
    border: 1.5px solid $color6;
    border-radius: 10px;
}

//-----IF you want change color icons------
.active{
    color: $foreground;
}

.used{
    color: $color3;
}

.empty{
    color: $color6;
}

.bx_appname{
    background-color: rgba($background, 0.55);
    padding: 0 16px 0 14px;
    border: 1.5px solid $color6;
    border-radius: 10px;
    color: lighten($foreground, 10);
}

.app-icon{
    padding-right: 5px;
    padding-left: 0px;
}

.app-name{
    padding-left: 5px;
}

.bx_wal{
    background-color: rgba($background, 0.55);
    border: 1.5px solid $color6;
    border-radius: 10px;
    padding-left: 8px;
    margin-right: 5px;
}

.wal{
    padding-right: 6px;
    color: $color3;
}

.clock_icon{
    padding-right: 8px;
    color: $color3;
}

.cal_icon{
    padding-left: 8px;
    padding-right: 6px;
    color: $color3;
}

.bx_clock{
    background-color: rgba($background, 0.55);
    padding-left: 8px;
    border: 1.5px solid $color6;
    border-radius: 10px;
    color: lighten($foreground, 10);
}

.bx_options{
    background-color: rgba($background, 0.55);
    margin-left: 5px;
    padding: 0 10px 0 7.5px;
    border: 1.5px solid $color6;
    border-radius: 10px;
}

.iconmenu_vol{
    color: $color3;
}

.iconmenu_msc{
    color: $color3;
}

.iconmenu_bth{
    color: $color5;
    padding-right: 5.5px;
}

.iconmenu_wf{
    color: $color5;
}

.iconmenu{
    color: $color8;
}