@import "./colors.scss";

$ncolor3:lighten($color3,15);
$text_day_sel: lighten($background, 5);
$text_day: darken($foreground, 15);

@if (lightness($color3) < 50){
    $text_day_sel: lighten($foreground, 10);
}

.cal{
    background-color: rgba($background, 0.9);
    color: $text_day;
    border: 2px solid $color6;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 0 2px 1px rgba($background, 0.9);
	margin: 0.4rem;
    animation: border-move 6s linear infinite;
}

.cal .header{
    color: $foreground;
}

.cal .highlight{
    color: $color6;
}
    
.cal .button{
    color: $foreground;
}
   
.cal :selected{
    color: $text_day_sel;
    background-image: linear-gradient(to left, $ncolor3 30%, $color3 60%);
    border-radius: 10px;
}

.cal :indeterminate{
    color: rgb(140, 140, 140);
}
