@import "./colors.scss";

.cal{
    background-color: rgba($background, 0.7);
    border: 2px solid $color6;
    border-radius: 12px;
    padding: 10px;
}

.cal .header{
    color: $foreground;
}

.cal .highlight{
    color: $color6;
}

.cal .button{
    color: $foreground;
}

.cal :selected{
    color: $background;
    background-color: $color6;
    border-radius: 10px;
}

.cal :indeterminate{
    color: rgb(140, 140, 140);
}
