@import "./music-light.scss";

$ncolor6:darken($color6,10);
$ncolor3:darken($color3,10);
$lcolor3:lighten($color3, 5);
$lncolor3:lighten($ncolor3, 5);

.background_mn{
    background-color: rgba($foreground, 0.75);
	border: 2px solid darken($color6, 30);
    border-radius: 12px;
    padding: 10px;
}

/** Generic window ***********************************/
.genwin {
	background-color: rgba($foreground, 0.75);
	border-radius: 16px;
}

/* ------ Modules ------- */
/* Network & Bluetooth ********************************************/
.btn_net, .btn_bluet{
	color: lighten($background, 10);
	border-radius: 16px;
	background-image: linear-gradient(45deg, $ncolor3 30%, $color3 60%);
}

.disable {
	background-color: rgba($foreground, 0.1);
	border-radius: 16px;
	color: lighten($background, 10);
}

.disable:hover{
	background-image: linear-gradient(45deg, $lncolor3 30%, $lcolor3 60%);
	color: $background;
	border-radius: 16px;
}

.network {
	font-size: 24px;
}

.btn_net, .btn_bluet, .btn_poweroff{
	&:hover{
		background-image: linear-gradient(45deg, $lncolor3 30%, $lcolor3 60%);
		color: $background;
		border-radius: 16px;
	}
}

.bluetic{
	font-size: 22px;
}

/* Battery **********************************************/
.battery {
	padding-top: 30px;
}

.baticon{
	font-size: 32px;
	color: lighten($background, 10);
}

.batinfo{
	font-size: 17px;
	font-weight: 500;
	color: lighten($background, 10);
}

/* Microphone *****************************************/
.iconmic {
	font-size : 30px;
  	margin-left: 7px;
	color: lighten($background, 10);
}

/** Volume ***********************************************/
.iconvolume {
	font-size : 30px;
  	margin-left: 5px;
	color: lighten($background, 10);
}

/** System Sliders ********************************************/
.slidersbox {
  	padding: 4px;
}

.iconbright {
	font-size : 28px;
	color: lighten($background, 10);
}

.bright_bar scale trough, .volume_bar scale trough, .mic_bar scale trough {
	all: unset;
	background-color: darken($ncolor6, 25);
	border: 2px solid darken($color6, 30);
	border-radius: 16px;
	padding: 3px;
	min-height: 20px;
	min-width: 220px;
}

.bright_bar scale trough highlight, .volume_bar scale trough highlight, .mic_bar scale trough highlight {
	all: unset;
	border-radius: 16px;
	background-image: linear-gradient(to right, $ncolor6 30%, $color6 100%);
}

/** Power buttons ***************************************/
.btn_poweroff{
	color: lighten($background, 10);
}

.poweric{
	padding-left: 9.3px;
	font-size: 21px;
}

.percent{
	font-size: 15px;
	font-weight: 500;
	margin-right: 8px;
	color: lighten($background, 10);
}

/*Sysinfo*/

.bx_sys {
	color: darken($color7, 30);
	font-size : 12px;
	font-weight : bold;
	margin-left: 10px;
}

.bx_sys_per {
	background-size: 180px;
	min-height: 60px;
	min-width: 60px;
	margin: 10px;
	border-radius: 14px;
}

.sysbar {
	color: darken($color7, 60);
	background-color: $ncolor6;
	border-radius: 10px;
}

.txt_sys{
	font-size: 8pt;
	color: lighten($background, 10);
}

/** EOF *************************************************/

