@import '../../.cache/wal/colors-waybar.css';

window {
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 14pt;
    color: @color3;
    background-color: @background; 
    opacity: 0.94;
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border: none;
    background-color: @background;
    margin: 5px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: @background;
}

button:focus {
    background-color: @color6;
    color: #1e1e2e;
}

#lock {
    background-image: image(url("./icons/lock.png"));
}
#lock:focus {
    background-image: image(url("./icons/lock-hover.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}
#logout:focus {
    background-image: image(url("./icons/logout-hover.png"));
}

#suspend {
    background-image: image(url("./icons/sleep.png"));
}
#suspend:focus {
    background-image: image(url("./icons/sleep-hover.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}
#shutdown:focus {
    background-image: image(url("./icons/power-hover.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}
#reboot:focus {
    background-image: image(url("./icons/restart-hover.png"));
}
#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}
#hibernate:focus {
    background-image: image(url("./icons/hibernate-hover.png"));
}