/*****----- Active window -----*****/
// Config //
configuration {
    modi:                        "window";
    show-icons:                  true;
    display-window:              "Windows";
    window-format:               "<span weight='light' size='small'><i>{t:10}...</i></span> | <span weight='bold'>{c}</span>";
    font:                        "JetBrainsMono Nerd Font 12";
}

/*****----- Global Properties -----*****/
@theme "./conf/colors-rofi.rasi"

/*****----- Main Window -----*****/
window {
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       75%;
    x-offset:                    0;
    y-offset:                    0;

    enabled:                     true;
    border:                      0.1em solid;
    border-radius:               1em;
    border-color:                @outline-variant;
    cursor:                      "default";
    background-color:            @background;
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     1em;
    padding:                     1em;
    background-color:            transparent;
    children:                    [ "inputbar", "listview" ];
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    spacing:                     0;
    padding:                     0;
    background-color:            transparent;
    text-color:                  transparent;
    children:                    [ "dummy", "prompt", "entry", "dummy" ];
}
prompt {
    enabled:                     true;
    padding:                     0.5em;
    border:                      0.1em solid;
    border-color:                @primary-container;
    border-radius:               0.5em 0 0 0.5em;
    background-color:            @primary-container;
    text-color:                  @on-primary-container;
}
entry {
    enabled:                     true;
    padding:                     0.5em;
    border:                      0.1em solid;
    border-color:                @primary-container;
    border-radius:               0 0.5em 0.5em 0;
    background-color:            @outline-variant;
    text-color:                  @on-surface;
    cursor:                      text;
    placeholder:                 "Search...";
    placeholder-color:           @on-surface;
}

dummy {
    expand:                      true;
    background-color:            transparent;
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    columns:                     5;
    lines:                       1;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    flow:                        horizontal;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    
    spacing:                     0.5em;
    background-color:            transparent;
    text-color:                  @on-background;
    cursor:                      "default";
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    spacing:                     1em;
    padding:                     1.5em 0.5em;
    border:                      0.1em;
    border-radius:               0.5em;
    border-color:                @outline-variant;
    background-color:            @surface-container;
    text-color:                  @on-surface;
    orientation:                 vertical;
    cursor:                      pointer;
}
element normal.normal {
    border:                      0.1em;
    border-color:                @outline-variant;
    background-color:            @surface-container;
    text-color:                  @on-surface;
}

element normal.active {
    border:                      0.1em;
    border-color:                @secondary;
    background-color:            @secondary-container;
    text-color:                  @on-secondary-container;
}

element selected.normal {
    border:                      0.1em;
    border-color:                @primary;
    background-color:            @primary-container;
    text-color:                  @on-primary-container;
}

element selected.active {
    border:                      0.1em;
    border-color:                @tertiary;
    background-color:            @tertiary-container;
    text-color:                  @on-tertiary-container;
}

element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        2em;
    cursor:                      inherit;
}
element-text {
    background-color:            transparent;
    text-color:                  inherit;
    highlight:                   inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
}