/*Alternative theme (Default)*/

// Config //
configuration {
    modi:                        "drun";
    show-icons:                  true;
    drun-display-format:         "{name} [<span weight='light' size='small'><i>({generic})</i></span>]";
    font:                        "JetBrainsMono Nerd Font 13";
}

/*****----- Global Properties -----*****/
@theme "./conf/colors-rofi.rasi"

/*****----- Main Window -----*****/
window {
    /* properties for window widget */
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       40%;
    x-offset:                    0;
    y-offset:                    0;

    /* properties for all widgets */
    enabled:                     true;
    border:                      0.1em solid;
    border-radius:               0.5em;
    border-color:                @surface-container-high;
    cursor:                      "default";
    background-color:            @background;
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     0.5em;
    padding:                     0;
    background-color:            transparent;
    children:                    [ "inputbar", "listview" ];
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    spacing:                     0;
    padding:                     0;
    background-color:            @surface-container-low;
    text-color:                  @on-surface;
    children:                    ["entry"];
}

entry {
    enabled:                     true;
    padding:                     0.75em;
    margin:                      0;
    border:                      0 0 0.1em 0 solid;
    border-color:                @surface-container-high;
    background-color:            inherit;
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 "<i>Search...</i>";
    placeholder-color:           inherit;
    placeholder-markup:          true;
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    columns:                     1;
    lines:                       6;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   true;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                false;
    fixed-columns:               true;
    
    spacing:                     0.5em;
    margin:                      0 0 0.75em 0.25em;
    background-color:            transparent;
    text-color:                  @on-surface;
    cursor:                      "default";
}
scrollbar {
    margin:                      0 0.3em 0 0;
    handle-width:                0.25em;
    handle-color:                @primary;
    background-color:            @surface-container;
    handle-rounded-corners:      true;
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    spacing:                     0.5em;
    margin:                      0 -0.25em 0 0;
    padding:                     0.25em 0.5em;
    border:                      0.1em solid;
    border-radius:               0.5em;
    border-color:                @surface;
    background-color:            @surface;
    text-color:                  @on-surface;
    cursor:                      pointer;
}
element normal.normal {
    background-color:            inherit;
    text-color:                  inherit;
}

element selected.normal {
    background-color:            @primary-container;
    text-color:                  @on-primary-container;
}
element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        1.75em;
    cursor:                      inherit;
}
element-text {
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
}