// Config //
configuration {
    modi:                        "drun";
    show-icons:                  true;
    display-drun:                " Apps";
    drun-display-format:         "{name} [<span weight='light' size='small'><i>({generic})</i></span>]";
    font:                        "JetBrainsMono Nerd Font 12";
}

/*****----- Global Properties -----*****/
@theme "./conf/colors-rofi.rasi"

/*****----- Main Window -----*****/
window {
    /* properties for window widget */
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       30%;
    x-offset:                    0;
    y-offset:                    0;

    /* properties for all widgets */
    enabled:                     true;
    border:                      0.1em solid;
    border-radius:               1em;
    border-color:                @outline-variant;
    cursor:                      "default";
    background-color:            @background;
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     1em;
    padding:                     1em;
    background-color:            transparent;
    children:                    [ "inputbar" ];
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    spacing:                     0;
    border:                      0.1em solid;
    border-color:                @primary-container;
    border-radius:               0.5em;
    padding:                     0;
    background-color:            @outline-variant;
    text-color:                  @on-surface;
    children:                    ["prompt","entry"];
}
prompt {
    enabled:                     true;
    padding:                     0.5em;
    border-radius:               0.5em 0 0 0.5em;
    background-color:            @primary-container;
    text-color:                  @on-primary-container;
}
entry {
    enabled:                     true;
    padding:                     0.5em;
    background-color:            inherit;
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 "Type the password...";
    placeholder-color:           inherit;
}